:root {
  --color-black: #000000;
  --color-white: #ffffff;
}

:root {
  --color-grey-50: #fafafa;
  --color-grey-100: #f6f6f6;
  --color-grey-200: #e5e5e5;
  --color-grey-300: #d4d4d4;
  --color-grey-400: #a3a3a3;
  --color-grey-500: #737373;
  --color-grey-600: #525252;
  --color-grey-700: #404040;
  --color-grey-800: #262626;
  --color-grey-900: #171717;
  --color-grey-950: #0a0a0a;
}

:root {
  --color-blue-50: #d2defe;
  --color-blue-100: #b4c8fd;
  --color-blue-200: #8eadfb;
  --color-blue-300: #6992fa;
  --color-blue-400: #4376f9;
  --color-blue-500: #1e5bf8;
  --color-blue-600: #194ccf;
  --color-blue-700: #143da5;
  --color-blue-800: #0f2d7c;
  --color-blue-900: #0a1e53;
  --color-blue-950: #061232;
}

:root {
  --purple-50: #f2dafa;
  --purple-100: #e9c1f7;
  --purple-200: #dea2f3;
  --purple-300: #d484f0;
  --purple-400: #c965ec;
  --purple-500: #be46e8;
  --purple-600: #9e3ac1;
  --purple-700: #7f2f9b;
  --purple-800: #5f2374;
  --purple-900: #3f174d;
  --purple-950: #260e2e;
}

:root {
  --color-green-50: #f2ffcf;
  --color-green-100: #eaffae;
  --color-green-200: #dfff86;
  --color-green-300: #d5ff5e;
  --color-green-400: #caff35;
  --color-green-500: #c0ff0d;
  --color-green-600: #a0d40b;
  --color-green-700: #80aa09;
  --color-green-800: #608006;
  --color-green-900: #405504;
  --color-green-950: #263303;
}
