.container,
a.container {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1.25rem 3rem;
  border-radius: 3.7rem;
  gap: 1.5rem;
  border: 0;
  background: var(--color-accent);
  color: var(--color-primary);

  transition:
    background var(--hover-transition),
    filter var(--hover-transition);

  &:hover {
    filter: brightness(0.7);
  }

  & svg {
    stroke: var(--color-svg-stroke);
  }

  &[data-button-variant='secondary'] {
    background: transparent;
    border: 1px solid var(--color-svg-stroke);

    &:hover {
      background: rgba(#afafaf, 0.3);
      border-color: rgba($color: #ffffff, $alpha: 0);
    }
  }

  &[data-button-variant='ghost'] {
    background: transparent;

    &:hover {
      background: rgba(#afafaf, 0.3);
    }
  }

  &[data-button-size='sm'] {
    padding: 1rem;
  }
}
