$color: var(--color-primary);

.dotCarousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color;
  color: $color;
  box-shadow:
    9984px 0 0 0 $color,
    9999px 0 0 0 $color,
    10014px 0 0 0 $color;
  animation: dot-carousel 1.5s infinite linear;
}

@keyframes dot-carousel {
  0% {
    box-shadow:
      9984px 0 0 -1px $color,
      9999px 0 0 1px $color,
      10014px 0 0 -1px $color;
  }
  50% {
    box-shadow:
      10014px 0 0 -1px $color,
      9984px 0 0 -1px $color,
      9999px 0 0 1px $color;
  }
  100% {
    box-shadow:
      9999px 0 0 1px $color,
      10014px 0 0 -1px $color,
      9984px 0 0 -1px $color;
  }
}
