@import '/src/sass/mixins';

.container {
  position: relative;
  background-color: var(--surface-1);
  min-height: 100vh;
  z-index: 4;

  h1 {
    @include font(inherit, var(--step-4), 500, 110%, -0.749px);
  }

  h2 {
    @include font(inherit, var(--step-3), 700, 110%, -0.216px);
  }

  p {
    @include font(inherit, var(--step-1), 400, 115%, 0.24px);
  }
}
