.container {
  background: var(--surface-2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  max-width: 32rem;

  h3 {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .author {
    display: flex;
    gap: 0.5rem;

    &::before {
      content: '—';
    }
  }
}
