.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 8vh;
}

.loading {
  display: flex;
  justify-content: center;
  div {
    width: 1rem;
    height: 4px;
    background: var(--color-grey-400);
    animation: 0.5s linear infinite alternate expand-right;
  }

  @keyframes expand-right {
    from {
      transform: scaleX(10);
    }
    to {
      transform: scaleX(1);
    }
  }
}
